{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}

    {{- /* Auto TOC */ -}}
    {{- if ne $params.toc.enable false -}}
        <div class="toc" id="toc-auto">
            <h2 class="toc-title">{{ T "contents" }}</h2>
            <div class="toc-content{{ if eq $params.toc.auto false }} always-active{{ end }}" id="toc-content-auto"></div>
        </div>
    {{- end -}}

    <article class="page single">
        {{- /* Title */ -}}
        <h1 class="single-title animated flipInX">{{ .Title }}</h1>

        {{- /* Subtitle */ -}}
        {{- with $params.subtitle -}}
            <h2 class="single-subtitle">{{ . }}</h2>
        {{- end -}}

        {{- /* Meta */ -}}
        <div class="post-meta">
            <div class="post-meta-line">
                {{- $author := $params.author | default .Site.Author.name | default (T "author") -}}
                {{- $authorLink := $params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}
                <span class="post-author">
                    {{- $options := dict "class" "author" "href" $authorLink "title" "Author" "rel" "author" "icon" (dict "class" "fas fa-user-circle fa-fw") "content" $author -}}
                    {{- partial "plugin/link.html" $options -}}
                </span>

                {{- with .Params.categories -}}
                    &nbsp;
                    <span class="post-category">
                        {{- T "included" -}}
                        {{- range $index, $value := . -}}
                            {{- if gt $index 0 }}&nbsp;{{ end -}}
                            {{- $category := $value | anchorize | printf "/categories/%s" | $.Site.GetPage -}}
                            <a href="{{ $category.RelPermalink }}">
                                <i class="far fa-folder fa-fw"></i>{{ $category.Title }}
                            </a>
                        {{- end -}}
                    </span>
                {{- end -}}
            </div>
            <div class="post-meta-line">
                {{- $publish_date := .PublishDate.Format (.Site.Params.dateformat | default "2006-01-02") -}}
                <i class="far fa-calendar-alt fa-fw"></i><time datetime={{ $publish_date }}>{{ $publish_date }}</time>&nbsp;
                <i class="fas fa-pencil-alt fa-fw"></i>{{ T "wordCount" .WordCount }}&nbsp;
                {{- $comment := .Scratch.Get "comment" | default dict -}}
                {{- if $comment.enable | and $comment.valine.enable | and $comment.valine.visitor -}}
                    <span id="{{ .RelPermalink }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
                        <i class="far fa-eye fa-fw"></i><span class=leancloud-visitors-count></span>&nbsp;{{ T "views" }}
                    </span>&nbsp;
                {{- end -}}
            </div>
        </div>

        {{- /* Featured image */ -}}
        {{- with $params.featuredimage -}}
            <div class="featured-image">
                {{- dict "src" . "alt" $.Description "large" true | partial "plugin/image.html" -}}
            </div>
        {{- end -}}

        {{- /* Static TOC */ -}}
        {{- if ne $params.toc.enable false -}}
            <div class="details toc" id="toc-static">
                <div class="details-summary toc-title">
                    <span>{{ T "contents" }}</span>
                    <span><i class="details-icon fas fa-angle-right"></i></span>
                </div>
                <div class="details-content toc-content" id="toc-content-static">
                    {{- dict "content" .TableOfContents "ruby" $params.ruby "fraction" $params.fraction "fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}

        {{- /* Content */ -}}
        <div class="content" id="content">
            {{- dict "content" .Content "ruby" $params.ruby "fraction" $params.fraction "fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
            <style>
                .single .post-footer .post-info .post-info-line .post-info-license {
                    font-size:12px; text-align: right; float: right; }
                .single .post-footer .post-info .post-info-line .post-info-mod { font-size:12px; }
                .column {
                  float: left;
                  width: 33.33%;
                  padding: 5px;}
                .row::after {
                  content: "";
                  clear: both;
                  display: table;}
                p { text-align:justify; }
                img, figure, a.lightgallery, img.lazyloaded {
                  max-width: 100%;
                  height: auto;
                  display: inline; }
                .single .content figure .image-caption:not(:empty){ display: block; }
                .single .content code { font-size: 11px; color: grey; } /*light theme by default*/
                [theme="dark"] .single .content code { font-size: 11px; color: #c2a97a ; background: #313233; }
                .scroll-view {
                            overflow: auto;
                            overflow-x: auto;
                            overflow-y: hidden;
                            -webkit-overflow-scrolling: touch;
                            position: relative;
                            width: 100%;
                            padding: 2px 2px 10px;
                        }
                .scroll-doc {
                            display: table;
                            position: relative;
                            text-align: left;
                        }
                .scroll-item {
                            display: table-cell;
                            vertical-align: middle;
                        }
                .scroll-item .thumbnail {
                            margin: 5px 10px;
                            width: 230px;
                        }
                .scroll-item .thumbnail img {
                            width: 100%;
                            height: auto;
                        }
                .blur-up {
                        -webkit-filter: blur(5px);
                        filter: blur(5px);
                        transition: filter 1000ms, -webkit-filter 1000ms;
                    }
                .blur-up.lazyloaded {
                        -webkit-filter: blur(0);
                        filter: blur(0);
                    }
                .fade-box .lazyload, .fade-box .lazyloading {
                        opacity: 0;
                        transition: opacity 500ms;
                    }
                .fade-box img.lazyloaded {
                        opacity: 1;
                    }
                .lazyload {
                    opacity: 0;
                }
                .lazyloading {
                    opacity: 1;
                    transition: opacity 300ms;
                    background: #f7f7f7 url(loader.gif) no-repeat center;
                }
                </style>
        </div>

        {{- /* Footer */ -}}
        {{- partial "single/footer.html" . -}}

        {{- /* Comment */ -}}
        {{- partial "comment.html" . -}}
    </article>
{{- end -}}
